.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

/* Великі планшети і маленькі ноутбуки (від 768px) */
@media (min-width: 768px) {
}

/* Десктопи (від 1280px) */
@media (min-width: 1280px) {
}
