.accordionContainer {
  max-width: 800px;
  margin: 0 auto;
}

.disclosureButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
  /* background-color: #f0f0f0; */
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 5px;
  transition: background-color 0.3s;
}

.disclosureButton:hover {
  background-color: #e0e0e0;
}

.disclosurePanel {
  padding: 10px 40px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
}

.iconOpen {
  transform: rotate(180deg);
  transition: transform 0.3s;
}

.iconClosed {
  transition: transform 0.3s;
}
.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 22px;
  line-height: 127%;
  text-align: center;
  color: var(--black);
  margin-bottom: 40px;
}
@media (min-width: 320px) {
}
/* Великі планшети і маленькі ноутбуки (від 768px) */
@media (min-width: 768px) {
}

/* Десктопи (від 1280px) */
@media (min-width: 1280px) {
  .disclosurePanel {
    width: 746px;
  }
}
