@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 147%;
  text-align: center;
  color: #000;
  margin-bottom: 40px;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Дві колонки однакової ширини */
  grid-template-rows: repeat(4, auto); /* Чотири рядки, висота автоматична */
  gap: 16px;
}
.img {
  object-fit: cover;
  transition: transform 0.8s ease, filter 0.5s ease;
  filter: blur(2px) brightness(0.9);
}
.cardBtn {
  margin-top: 50px;
  display: none;
  padding: 6px 12px;

  border-radius: 16px;
  background-color: #00000027;
}
.cardBtn:hover {
  background-color: #0000004d;
}
@media (min-width: 320px) {
  .card {
    border-radius: 32px;
    width: 168px;

    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  }
  .card:hover .img {
    transform: scale(1.1) rotate(3deg);
    filter: brightness(1.8);
  }
  .card:hover p {
    -webkit-animation: tracking-in-expand 0.7s
      cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
  .card:hover .cardBtn {
    display: block;
  }
  .card:hover div {
    top: 40%;
  }
  .card div {
    position: absolute; /* або fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: var(--white);
    transition: transform 0.8s ease, filter 0.5s ease;
  }
}
/* Великі планшети і маленькі ноутбуки (від 768px) */
@media (min-width: 768px) {
  .card {
    border-radius: 32px;
    width: 196px;
    height: 304px;
    min-width: 196px;
  }
}

/* Десктопи (від 1280px) */
@media (min-width: 1280px) {
  .card {
    border-radius: 32px;
    width: 306px;
    height: 393px;
    min-width: 248px;
  }
  .services {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Дві колонки однакової ширини */
    grid-template-rows: repeat(1, auto); /* Чотири рядки, висота автоматична */
    gap: 16px;
  }
}
