.calcBtn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--accent-blue);
  border: 1px solid var(--accent-blue);
  border-radius: 8px;
  padding: 8px 16px;
  width: 342px;
  height: 40px;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
}
.calcBtn:hover {
  border: 1px solid #2724ff;
  color: #2724ff;
}
.calcBtn:active {
  border: 1px solid #020066;
  color: #020066;
}
