/* Базові стилі для мобільних пристроїв (до 375px) */
/* Тут пишеш загальні стилі, які застосовуються для всіх екранів за замовчуванням */

/* Планшети (від 375px) */
@media (min-width: 320px) {
  .header {
    background: var(--secondary-blue);
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #111;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* position: fixed; */
  }
  .mobMenu {
    display: block;
    order: 1;
  }
  .mobMenu svg {
    stroke: var(--white);
    transition: stroke 0.3s ease-in-out;
  }
  .mobMenu svg:hover {
    stroke: var(--yellow);
  }
  .logo {
    order: 2;
  }
  .logo svg {
    width: 120px;
    height: 52px;
    fill: #fff;
    transition: fill 0.3s ease-in-out;
  }
  .logo svg:hover {
    fill: var(--yellow);
  }

  .nav {
    order: 3;
  }
  .btn {
    display: flex;
    gap: 8px;
  }
  .switcher {
    display: flex;
    align-items: center;
    justify-content: end;
  }
}

/* Великі планшети і маленькі ноутбуки (від 768px) */
@media (min-width: 768px) {
  .header {
    padding: 20px 60px;
  }
  .topCont {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Два стовпці */
    gap: 10px; /* Відступи між елементами */
  }
  .topCont :nth-child(3) {
    grid-column: 2 / 3;
    justify-self: end; /* Розміщує останній елемент у другій колонці */
  }
  .topCont :nth-child(1) {
    justify-self: end; /* Розміщує останній елемент у другій колонці */
  }
  .mobMenu {
    display: block;
    order: 2;
    margin-right: auto;
    margin-top: auto;
    margin-left: 14px;
  }
  .logo {
    order: 1;
  }

  .logo svg {
    width: 184px;
    height: 80px;
    fill: #fff;
  }
}
@media (min-width: 1100px) {
  .topCont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobMenu {
    order: 2;
    margin-right: auto;
    margin-top: 0;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
/* Десктопи (від 1280px) */
@media (min-width: 1280px) {
  .header {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #111;
    padding: 16px 72px;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  .topCont {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 18px;
    align-items: self-start;
  }
  .switcher {
    display: flex;
    align-items: center;
    margin-right: 100px;
  }
  .mobMenu {
    display: none;
  }
  .logoIcon {
    width: 184px;
    height: 80px;
  }
}
@media (min-width: 1380px) {
  .header {
    font-size: 20px;
  }
}
