.body {
  /* width: 100vw; */
  /* height: 90vh; */
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  overflow-y: auto;
  overflow-x: auto;
  /* Забороняє скролінг всередині */
}
.status {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: var(--white);
  border-radius: 16px;
  padding: 16px;
}
.body div {
}
.form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-width: 375px;
  width: 100vw;
  height: 100vh;
  border: none;
}
.closeBtn {
  position: absolute;
  top: 10px;
  right: 40px;
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  padding: 5px;
  background-color: #ffffff9d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.closeBtn svg {
  fill: black;
}
.closeBtn:hover {
  transform: rotate(90deg);
}

.backBtn {
  position: absolute;
  top: 10px;
  left: 40px;
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  padding: 5px;
  background-color: #ffffff9d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backBtn svg {
  fill: black;
}
.backBtn:hover {
  transform: rotate(90deg);
}
