.calcBtn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--white);

  background: var(--accent-blue);
  border-radius: 8px;
  padding: 8px 16px;
  width: 100%;
  max-width: 342px;
  height: 40px;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
}
.calcBtn:hover {
  background: var(--secondary-blue);
}
.calcBtn:active {
  background: var(--secondary-blue);
}
