.cont {
  max-width: 1180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
  max-width: 400px;
}
.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 22px;
  line-height: 127%;
  text-align: center;
  color: var(--black);
  margin-bottom: 40px;
}
.image {
  width: 352px;
  height: 201px;
}
.textCont {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.textCont1 {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.text1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--black);
}
.textCont1 {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.text2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #505457;
}
@media (min-width: 320px) {
}
/* Великі планшети і маленькі ноутбуки (від 768px) */
@media (min-width: 768px) {
  .image {
    width: 628px;
    height: 360px;
  }
  .cont {
    max-width: 628px;
  }
}

/* Десктопи (від 1280px) */
@media (min-width: 1280px) {
  .cont {
    max-width: 1180px;
    flex-direction: row;
  }
}
