.swiperWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px; /* Измени, если надо */
  margin: 0 auto;
  overflow: hidden;
  /* Убираем лишнее */
}

.swiper {
  /* width: 100% !important; */
  /* max-width: 100% !important; */
  height: 400px;
}

.swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100% !important; */
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 342x;
  height: 320px;

  overflow: hidden; /* Обрезает края */
  border-radius: 20px; /* Радиус скругления */
}
.card {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 320px;
  height: 310px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatarHeader {
  display: flex;
  gap: 24px;
  align-items: center;
}
.avatarWrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.date {
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 10px;
}

.stars {
  display: flex;
  margin-bottom: 10px;
}

.text {
  font-size: 0.95rem;
  color: #555;
}

/* Стилі для зірок */
.filledStar {
  color: #f5b50a;
}

.emptyStar {
  color: #ddd;
}
@media screen and (min-width: 768px) {
  .swiperWrapper {
    max-width: 850px;
  }
}

@media screen and (min-width: 1280px) {
  .swiperWrapper {
    max-width: 1280px;
  }
}
