.btn {
  border-radius: 32px;
  padding: 8px 16px;
  width: 196px;
  height: 40px;
  max-width: 196px;
  background: #0300bf;
  color: #fff;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  cursor: pointer;
  margin-left: 24px;
  transition: background 0.3s ease-in-out;
}
.btn:hover {
  box-shadow: 4px 4px 8px 0 rgba(3, 0, 214, 0.25);
  background: #2724ff;
}
