/* BranchInfo.module.css */

.branchContainer {
  max-width: 1280px;
  margin: 0 auto;
}

.desktopOnly {
  display: block;
}

.mobileOnly {
  display: none;
}

/* Медійні запити для мобільних пристроїв */

.branchCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 1rem;

  overflow: hidden;
}

.branchHeader {
  background-color: #eaf9ff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: var(--font-family);
}
.branchCity {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}
.branchDetails {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.branchMap {
  padding: 1rem;
  text-align: center;
}

.branchMapImage {
  width: 100%;
  height: auto;
}

.findOnMapBtn {
  margin-top: 0.5rem;
  display: inline-block;
  color: blue;
  text-decoration: none;
}
.accordionButton {
  display: flex;
  flex-direction: column; /* Розташовує кнопки вертикально */
  width: 100%;
  padding: 10px 0;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.accordionButton:hover {
  background-color: #eaf2ff; /* Підсвічування при наведенні */
}

.accordionPanel {
  padding: 15px;
  background-color: #ecf2ff48;
}

.branchSchedule,
.branchPhone a,
.branchContacts a,
.branchEmail a,
.branchAddress,
.branchMapAddress {
  display: flex;
  align-items: center;
  gap: 8px;
}
.branchMapAddress {
  margin-bottom: 24px;
  justify-content: end;
  color: var(--accent-blue);
}
.branchMapAddress:hover {
  color: var(--secondary-blue);
}
.branchTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 22px;
  line-height: 127%;
  text-align: center;
  color: var(--black);
  margin-bottom: 40px;
}
.branchdescr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
}
.mobileBranches {
  margin-top: 100px;
}
.mobileBranchesCont {
  /* padding: 16px; */
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 12px;
}
.branchMobileCity {
  padding: 1rem;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  background-color: #eaf9ff;
}
.mobileBranchesDetail {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 1280px) {
  .desktopOnly {
    display: none;
  }
  .mobileOnly {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .branchCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
  }
  .branchMapImage {
    border-radius: 16px;
    width: 290px;
    height: 292px;
  }
  .findOnMapBtn {
    display: flex;
    gap: 24px;
    align-items: flex-end;
  }
  .mobileBranchesDetail {
    margin-left: 64px;
  }
  .mobileBranchesCont {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding-bottom: 64px;
  }
}
