@font-face {
  font-family: "Tilda Sans"; /* Название шрифта */
  src: url("../../../../fonts/TildaSans-Light.woff2") format("woff2"),
    /* Современные браузеры */ url("../../../../fonts/TildaSans-Light.woff")
      format("woff"); /* Резервный формат */
  font-weight: 400; /* Нормальный вес */
  font-style: normal; /* Обычный стиль */
}

@font-face {
  font-family: "Tilda Sans"; /* Название шрифта */
  src: url("../../../../fonts/TildaSans-Regular.woff2") format("woff2"),
    url("../../../../fonts/TildaSans-Regular.woff") format("woff");
  font-weight: 600; /* Жирный текст */
  font-style: normal;
}
@font-face {
  font-family: "Tilda Sans"; /* Название шрифта */
  src: url("../../../../fonts/TildaSans-Medium.woff2") format("woff2"),
    url("../../../../fonts/TildaSans-Medium.woff") format("woff");
  font-weight: 700; /* Жирный текст */
  font-style: normal;
}
.container {
  display: flex;
  flex-direction: column;

  gap: 20px;
  text-align: left;
}

.title {
  font-family: "Tilda Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #000;
}
.package {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.valuation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Tilda Sans", sans-serif;
}
.label {
  font-family: "Tilda Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: left;
  color: #000;
}
.input {
  border-radius: 5px;
  width: 140px;
  height: 27px;
  background: #d6e0f5;
  text-align: center;
  font-size: 16px;
}
.calculateButton {
  border-radius: 5px;
  padding: 5px 30px;
  width: 281px;
  height: 40px;
  background: var(--teal);
  color: white;
  transition: background 0.3s ease-in-out;
}
.calculateButton:hover {
  background: rgb(0, 26, 63);
}
.svg {
  z-index: -1;
}
.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.visuallyHidden:checked + .spanCheckbox svg {
  z-index: 1;
}
.checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.checkLabel {
  color: #000;

  font-family: "Tilda Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  display: flex;
  gap: 4px;
  align-items: center;
}

.spanCheckbox {
  width: 20px;
  height: 20px;

  flex-shrink: 0;
  border: none;
  border-radius: 5px;
  background: #d6e0f5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
