@font-face {
  font-family: "Tilda Sans"; /* Название шрифта */
  src: url("../../../../fonts/TildaSans-Light.woff2") format("woff2"),
    /* Современные браузеры */ url("../../../../fonts/TildaSans-Light.woff")
      format("woff"); /* Резервный формат */
  font-weight: 400; /* Нормальный вес */
  font-style: normal; /* Обычный стиль */
}

@font-face {
  font-family: "Tilda Sans"; /* Название шрифта */
  src: url("../../../../fonts/TildaSans-Regular.woff2") format("woff2"),
    url("../../../../fonts/TildaSans-Regular.woff") format("woff");
  font-weight: 600; /* Жирный текст */
  font-style: normal;
}
@font-face {
  font-family: "Tilda Sans"; /* Название шрифта */
  src: url("../../../../fonts/TildaSans-Medium.woff2") format("woff2"),
    url("../../../../fonts/TildaSans-Medium.woff") format("woff");
  font-weight: 700; /* Жирный текст */
  font-style: normal;
}
.package {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.package input {
  font-size: 16px;
}
.package p {
  font-family: "Tilda Sans", sans-serif;
}
.title {
  font-family: "Tilda Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-align: left;
  color: #000;
}
.dimensions {
  display: flex;
  justify-content: space-between;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: 1px solid red; */
  font-family: "Tilda Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: left;
  color: #000;
}
.input {
  border-radius: 5px;
  width: 87px;
  height: 27px;
  background: #d6e0f5;
  text-align: center;
}
.inputWeight {
  border-radius: 5px;
  width: 121px;
  height: 27px;
  background: #d6e0f5;
  text-align: center;
}
.addButton {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-family: "Tilda Sans", sans-serif;
  font-weight: 300;
}
.addButton svg {
  fill: #05173b;
}
.addButton:hover {
  color: #0e42ab;
}
.addButton svg:hover {
}
.removeButton {
  color: #ff543e;
  display: flex;
  align-items: center;
  gap: 4px;
  fill: #ff543e;
  font-size: 16px;
  font-family: "Tilda Sans", sans-serif;
}
.removeButton:hover {
  color: #b21b07;
  fill: #b21b07;
}
.removeButton svg {
  width: 14px;
  height: 17px;
}
.removeButton svg:hover {
  fill: #b21b07;
}
.button {
  display: flex;
  justify-content: space-between;
}
.button svg {
}
